*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.title{
    padding: 0.5% 0;
    background-image: url('../img/pattern.png');
    background-size: 20%;
    background-color: rgb(12, 171, 224);
}

.title-img{
    padding: 5% 80% 0 0;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    margin: 2% 80% 0% 1%;
}

.main-container{
    margin: 0.5% 0 0 0.5% ;
}

.text-special{
    color: deepskyblue;
}

.img-main{
    padding: 33% 50% 0% 0%;
    margin: 2% 0% 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.uno{
    background-image: url(../img/tim-1.jpg);
    float:left;
}


.due{
    background-image: url('../img/tim-2.jpg');
    float:right;
    
}

.main-text{
    margin: 2% 0% 0% 0%;
}

.highlighter{
    background-color: yellow;
}

.list{
    margin: 2% 0% 0% 1.3%;
}

.main-table{
    margin: 2% 0% 0% 0%;
    font-size: small;
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
}
   
 

.row{
    background-size: cover;
    margin: 0 auto;
    
    box-sizing: border-box;
}

.row.head-t{
    color: aliceblue;
     background-color: rgb(15, 195, 240);

}

.row.light-b{
    background-color: cyan;
}
    
    

.small{
    width: 25%;
    margin: 0 auto;
    text-align: left; 
}

.row.large{
    width: 50%;
    margin: 0 auto;
    text-align: left; 
}



